:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

ul, li, a{
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.listCountries ul {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.listCountries li {
  background-color: #333;
  list-style: none;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}

.listCountries li:hover, .borderCountries li:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: gr;
}

.listCountries span {
  color: white;
}

.listCountries div {
  width: 100%;
  height: 40px;
  background-size: cover;
  background-position: center;
}

.listCountries li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 5px;  
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}


.infoCountries {
  width: 100%;
  text-align: center;
  margin: 20px;
}

.borderCountries li{
  width: fit-content;  
  background-color: #333;
  list-style: none;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  color: white;
  text-decoration: none;

}

.borderCountries {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.populationChart {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.chart {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 200px;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 10px;
  gap: 2px;
  overflow-x: auto;
  box-sizing: border-box;
}

.bar {
  width: 10px;
  background-color: #4CAF50;
  transition: background-color 0.3s;
  cursor: pointer;
}

.bar:hover {
  background-color: #45a049;
  transform: scale(1.1);
}
